.about {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}
.about__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate400);
}
.about__hr {
  border-color: var(--clr-slate800);
}
.about__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-slate400);
}
.about__ul-container {
  display: flex;
  max-width: 60ch;
}
.about__ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  /* list-style-type: "\1F44D"; */
  padding-left: 1.6em;
}
.about__list {
  /* padding-left: 1em;its working to add space between emojy and lists but he said it shouldnt */
  font-size: var(--size-sm);
  color: var(--clr-slate400);
}
.about__list::before {
  content: "•  ";
  font-size: 1.5em;
  color: var(--clr-rose);
}

/* xs */
@media (min-width: 475px) {
  .about {
    gap: 1.5em;
  }
  .about__content {
    gap: 1.5em;
  }
  .about__title {
    font-size: var(--size-3xl);
  }
  .about__description {
    font-size: var(--size-base);
  }

  .about__subtitle {
    font-size: var(--size-base);
  }

  .about__list {
    /* padding-left: 1em;its working to add space between emojy and lists but he said it shouldnt */
    font-size: var(--size-base);
  }
}
/* sm */
@media (min-width: 640px) {
  .about__img {
    width: 28.6875rem;
  }
  .about__img-wraper {
    margin: 0% auto;
  }

  .about__list {
    /* padding-left: 1em;its working to add space between emojy and lists but he said it shouldnt */
    font-size: var(--size-lg);
  }
}
/* md */
@media (min-width: 768px) {
}
/* lg */
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .about__content {
    gap: 1.5em;
  }
  .about__title {
    font-size: var(--size-4xl);
  }
  .about__description {
    font-size: var(--size-lg);
  }

  .about__subtitle {
    font-size: var(--size-lg);
  }

  .about__list {
    /* padding-left: 1em;its working to add space between emojy and lists but he said it shouldnt */
    font-size: var(--size-lg);
  }
}
/* xl */
@media (min-width: 1280px) {
  .about__content {
    gap: 2rem;
  }
  .about__title {
    font-size: var(--size-5xl);
  }
  .about__description {
    font-size: var(--size-xl);
  }

  .about__subtitle {
    font-size: var(--size-xl);
  }

  .about__list {
    font-size: var(--size-xl);
  }
}
/* 2xl */
@media (min-width: 1536px) {
  .about__content {
    gap: 2.5rem;
  }
  .about__title {
    font-size: var(--size-6xl);
  }
  .about__description {
    font-size: var(--size-2xl);
  }

  .about__subtitle {
    font-size: var(--size-2xl);
  }

  .about__list {
    font-size: var(--size-2xl);
  }
  .about__img {
    width: 30.75rem;
  }
}
